* {
    margin: 0;
    padding: 0;
}

body{
    background: B5B5B5;
    font-family: Helvetica;
    background-color: #F5F5F5;
}

#container{
    margin: 0 auto;
    width: 900px;
    height: auto;
}

/*  ----------PÁGINA DE LOGIN----------- */

#container #login{
    margin: 5% auto;
    width: 400px;
    height: 150px;
    background: #CCC;
    padding: 15px;
    border-radius: 10px;
}

#container #login form{
    display: block;
}

#container #login form #input_login{
    position: relative;
    top:-150px;
    left: 180px;
}

#container #login form #input_login input[type="text"]{
    outline: none;
    display: block;
    width: 200px;
    height: 20px;
    border: #000 solid 1px;
    border-radius: 10px;
}

#container #login form #input_login input[type="password"]{
    outline: none;
    display: block;
    width: 200px;
    height: 20px;
    border: #000 solid 1px;
    border-radius: 10px;
}

#container #login form #input_login input[type="submit"]{
    outline: none;
    margin-top: 5px;
    width: 60px;
    height: 30px;
    position: relative;
    left: 70px;
    background: #D3D4D2;
    border: #000 solid 1px;
    border-radius: 10px;
}

#container #login form #input_login input[type="button"]{
    outline: none;
    margin-top: 5px;
    width: 80px;
    height: 30px;
    position: relative;
    left: 70px;
    background: #D3D4D2;
    border: #000 solid 1px;
    border-radius: 10px;
}

/*  ----------PÁGINA DE CADASTRO----------- */

#container #cadastro{
    margin: 5% auto;
    width: 220px;
    height: 450px;
    background: #CCC;
    padding: 15px;
    border-radius: 10px;
}

#container #cadastro form{
    display: block;
}

#container #cadastro form #input_cadastro{
    position: relative;
    top:20px;
    left: 10px;
}

#container #cadastro form #input_cadastro input[type="text"]{
    outline: none;
    display: block;
    width: 200px;
    height: 20px;
    border: #000 solid 1px;
    border-radius: 10px;
}

#container #cadastro form #input_cadastro input[type="email"]{
    outline: none;
    display: block;
    width: 200px;
    height: 20px;
    border: #000 solid 1px;
    border-radius: 10px;
}


#container #cadastro form #input_cadastro input[type="password"]{
    outline: none;
    display: block;
    width: 200px;
    height: 20px;
    border: #000 solid 1px;
    border-radius: 10px;
}

#container #cadastro form #input_cadastro input[type="submit"]{
    outline: none;
    margin-top: 5px;
    width: 60px;
    height: 30px;
    position: relative;
    left: 70px;
    background: #D3D4D2;
    border: #000 solid 1px;
    border-radius: 10px;
}